/* Styles for the App component */
.App {
    text-align: center;
}

/* Styles for the scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #303346;
    border-radius: 30px;
}
